.chat-container {
  width: 100%;

  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: 85vh;

}

.selected-chat-header svg {
  display: none;
}

.chat-list,
.chat-box {

  background-color: var(--white);
  border-radius: 2px;
  box-shadow: var(--box-shadow);
}

.chat-list {
  width: 35%;
}

.chat-box {
  width: 64%;

}

.selected-chat {
  height: 100%;
  overflow: hidden;
}

.messages-container {
  padding: 2px 10px;
  width: 100%;
  height: 74%;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;

}

.loading-messages-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-sender-content {
  margin-bottom: 8px;
  max-width: 100%;
  white-space: pre-wrap;
  word-wrap: break-word;
  display: flex;


}

.my-message {

  margin-left: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  display: flex;
  justify-content: flex-end;
}

.message-sender-content img {
  width: 25px;
  height: 25px;
  margin: 0 5px;
  border-radius: 100%;
}

.message-content {
  border-radius: var(--border-radius);
  max-width: 50%;
  padding: 5px;

}

.chat-list-header {

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  text-transform: capitalize;
  border-bottom: 1px solid var(--light-gray);
}

.chat-list-header button {
  width: 125px;
  font-size: 14px;
  background-color: var(--light-gray);
}

.chat-list-body {
  padding: 10px;
}

.chat-info {
  padding: 10px;
  margin-bottom: 5px;
  font-weight: var(--font-weight);
  border-radius: var(--border-radius);
  background-color: var(--light-gray);
}

.chat-info.selected-user-to-chat,
.chat-info:hover {
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
}

.chat-info img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-right: 5px;
}

.chat-sender {
  display: flex;
  align-items: center;


}

.chat-sender-name-content {
  display: flex;
  flex-direction: column;
}

.chat-sender-name-content span:last-child {
  font-size: 13px;

}

.before-select-chat {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: var(--font-weight);
}

.before-select-chat p {
  text-align: center;
}

.selected-chat-header {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  font-weight: var(--font-weight);
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--light-gray);
  margin-bottom: 10px;
}

.selected-chat-header span:hover {
  color: var(--blue);
  cursor: pointer;
}

.selected-chat-header img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  margin-right: 5px;
}

.selected-chat-bottom {
  width: 100%;

  display: flex;
  align-items: center;
  border-top: 2px solid var(--light-gray);
  height: 50px;
  padding: 0 15px;
  padding-bottom: 0;
  overflow: hidden;
}

.selected-chat-bottom button {
  background-color: var(--light-gray) !important;
  border: 0;
  color: var(--blue) !important;
  font-size: 25px;
  transition: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recived-message {
  border-bottom-left-radius: 1px;

}

.selected-chat-bottom button:link {
  background-color: none !important;
}



.selected-chat-bottom .input-container {
  margin-right: 15px;
}

.selected-chat-bottom input {
  border: 0;
  border-radius: 0;

  border-right: 1px solid var(--light-gray);

}

.selected-chat-bottom input:focus {
  outline: none;
  background-color: var(--white);
}

@media (max-width:768px) {
  .chat-list {
    width: 49%;
  }

  .chat-box {
    width: 49%;

  }
}

@media (max-width:600px) {
  .messages-container {
    height: 75.5%;
  }

  .chat-info img,
  .selected-chat-header img {
    width: 45px;
    height: 45px;
  }

  .selected-chat-header svg {
    margin-right: 15px;
    display: block;
  }



  .show-mobile-selected-chat {
    width: 100%;
  }

  .hide-mobile-selected-chat {
    display: none;
  }

  .show-mobile-chat-list {
    display: block;
    width: 100%;
  }

  .hide-mobile-chat-list {
    display: none;
  }
}