.skeleton-user-container {
  background-color: var(--light-gray);
  animation: opacity 0.5s linear 0s infinite forwards alternate;
  margin-bottom: 10px;
  padding: 0 3px;
  width: 100%;
}

.user-list-skeleton {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 0px;
  margin: 0 10px;
  border-radius: var(--border-radius);
  font-weight: var(--font-weight);
  margin-bottom: 10px;
}

.user-list-image-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}

.user-list-image {
  height: 25px;
  width: 25px;
  border-radius: var(--circle-border-radius);
  margin-right: 5px;
  background-color: var(--white);
}

.user-list-name {
  height: 20px;
  width: 50%;
  border-radius: var(--border-radius);
  background-color: var(--white);
}

.user-list-button {
  height: 20px;
  border-radius: var(--border-radius);
  margin-right: 15px;
  width: 10%;
  font-weight: var(--font-weight);
  background-color: var(--white);
}


.post-skeleton {
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  margin: 10px 0;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 20em;
  animation: opacity 0.5s linear 0s infinite forwards alternate;
}

.post-skeleton .skeleton-user-container {
  width: 95%;
  margin: 0 auto;
  animation: initial;
  align-items: center;
  background-color: var(--white);
}

.post-skeleton .user-list-image,
.post-skeleton .user-list-name,
.post-skeleton .user-list-button {
  background-color: var(--light-gray);
}

.post-skeleton-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-skeleton-body svg {
  font-size: 15em;
  color: var(--light-gray);
}

.profile-card-skeleton {
  min-height: 25em;
  min-width: 85%;
  background-color: var(--white);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  animation: opacity 0.5s linear 0s infinite forwards alternate;
}

.profile-card-top-skeleton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: var(--font-weight);
  flex: 0;
  padding: 15px;
  position: relative;
  min-height: 120px;
  width: 100%;
}

.skeleton-image-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40%
}

.skeleton-image-name .image {
  height: 150px;
  width: 150px;
  border-radius: var(--circle-border-radius);
  background-color: var(--light-gray);
}

.skeleton-image-name span {
  background-color: var(--light-gray);
  display: inline-block;
  height: 25px;
  width: 100%;
  margin-top: 5px;
}



@keyframes opacity {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}