.auth-page {

  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: scroll;


}

.auth-container,
.auth-aboutus {
  min-height: 100%;

}

.auth-aboutus {
  width: 60%;


}



.auth-container {
  position: relative;
  width: 40%;
  padding: 0;
  margin-bottom: 0;

}

.auth-container .animations {
  display: none;
}

.auth-container h3 {
  box-shadow: var(--box-shadow);
  background-color: var(--white);
  border-radius: var(--border-radius);
  padding: 25px;
  margin: 25px;
  position: relative;
  z-index: 2;
  align-items: center;
  font-weight: var(--font-weight);
  min-width: 90%;
  text-align: center;
}

.auth-aboutus .animations-section {
  height: 50%;
}

.auth-container .mobile-view {
  display: none;
  position: relative;
}



.bestonger-info {
  flex-direction: column;
  padding: 30px;
  align-items: flex-start;
  font-weight: var(--font-weight);
}

.bestonger-info p:first-child {
  font-size: 35px;
}

.aboutus-background {
  background-image: url("../components/images/authBackGround.svg");
  background-position: center;
  background-size: contain;
  height: 50%;
  width: 100%;
  background-repeat: no-repeat;
}

.auth-box {
  z-index: 2;
  width: 90%;
  height: 28em;
  margin: 0 25px;
  position: relative;
  display: flex;
  box-shadow: var(--box-shadow);
  align-self: center;
  border-radius: var(--border-radius);
  background-color: var(--white);
  overflow: hidden;
  margin-bottom: 15px;
  border-collapse: collapse;

}

.auth-box .tabs {
  min-width: 25%;

}

.auth-box .tabs .default-tab {
  border-right: 1px solid #d2d2d2;
}

.auth-box .tabs ul {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  border-collapse: collapse;

}

.auth-box .tabs a {
  height: 150px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #d2d2d2;
  font-size: 16px;
  font-weight: var(--font-weight)er;

}

.auth-box .active-tab {
  border-right: 2px solid var(--blue);
  border-collapse: collapse;
}

.auth-box .tabs a:last-child {
  border-bottom: 0;
}

.auth-forms {
  min-width: 75%;


}

.auth-forms .spinner-border {
  width: 1.5rem;
  height: 1.5rem;
}

.animations-section {
  width: 100%;
  background-color: var(--white);
  height: 40%;
  padding-top: 15px;
  border-top-right-radius: 80%;
  overflow: hidden;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  padding: 0;
  position: relative;
}


@media (max-width:992px) {
  .auth-container {
    width: 50%;
  }

  .auth-container h3 {
    font-size: 23px;
  }
}

@media (max-width:768px) {


  .auth-box .tabs a {
    font-size: 13px;
  }

  .auth-container h3 {
    font-size: 20px;

    text-align: center;
  }

  .auth-aboutus {
    width: 50%
  }
}

@media (max-width:614px) {
  .auth-container {
    width: 100%;
  }

  .auth-container .animations {
    display: flex;
    background-color: #d2d2d2;
  }

  .auth-container .computer-view {
    display: none;
  }

  .auth-container .mobile-view {
    font-size: 20px;
    display: block;
    position: relative;
    text-align: center;
  }

  .auth-box .tabs a {
    font-size: 12px;
  }

  .auth-aboutus {
    display: none;
  }
}