.change-password {
  padding: 10px;
  display: flex;
  flex-direction: column;
}



.change-password .button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}