.comments-container {

  height: 23em;
  position: relative;

}

.scrollable-comments {
  display: flex;
  flex-direction: column-reverse;
  max-height: 90%;
  overflow-y: scroll;
  padding-bottom: 18px;

}

.comments-list {
  max-height: 95%;
  padding: 0 15px;
}

.comments-list .skeleton-user-container {
  margin: 15px 0;
}

.comment-creation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  bottom: -1px;
  padding: 0 15px;

}


.comment-creation input {
  width: 95%;
  padding: 7px;

}

@media (max-width:600px) {
  .comment-creation button {
    padding: 7px;
    font-size: 11px;
  }
}