.comunication-section {
  height: 88vh;
  display: flex;
  background-color: var(--light-gray);
}

.middle-communication-section,
.left-communication-section,
.right-communication-section {
  /* flex: 1; */
  padding: 10px 0;
  width: 30vw;
}

.middle-communication-section {
  max-height: 100%;
  flex: 1;
  width: 40vw;
}

.left-communication-section {
  display: flex;
  justify-content: center;

  align-items: flex-start;

}

.left-communication-section .profile-card {
  width: 95%;
}

.post-creation-section {
  height: 100%;

  display: flex;
  flex-direction: column;
}

.post-creation-section-top {
  background-color: var(--white);
  padding: 15px;
  margin: 0 5px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  font-weight: var(--font-weight);
  cursor: pointer;
  transition: background-color;
  transition-duration: 1s;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 10;
}

.post-creation-section-top:hover {
  background-color: var(--blue);
  color: var(--white)
}

.post-creation-section-top .profile-image img {
  height: 50px;
  width: 50px;
  margin-right: 5px;
  border-radius: var(--circle-border-radius);
}

.post-creation-section-top .share-your-experince,
.post-creation-section {
  padding-left: 5px;
}

.return-home-page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.no-posts {
  background-color: var(--white);
  height: 16em;
  margin-top: 10px;

  font-weight: var(--font-weight);
  flex-direction: column;
  font-size: 26px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  position: relative;
  padding: 15px;
  padding-bottom: 0;

}

.no-posts img {
  height: 100%;
  width: 100%;
}

.right-communication-section {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  min-height: 100%;
  overflow-y: scroll;
  justify-content: flex-start;
  padding-right: 0.5%;
}

.right-communication-section .profile-card {
  display: none;

  min-height: 22em;
  margin-bottom: 10px;
  width: 95%;
}

.right-communication-section .profile-card .profile-statistics {
  top: 70%;
}

.nutritionists-trainers {
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background-color: var(--white);
  /* margin: 0 20px; */
  min-height: 20em;
  width: 90%;
  height: 20em;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: space-between;
  width: 95%;
}

.nutritionists-trainers_title {
  padding: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--light-gray);
}

.nutritionists-trainers_body {
  height: 90%;
  padding: 5px 15px;
  overflow-y: scroll;
}


.nutritionists-trainers_body .user-container {
  margin: 0
}

.nutritionists-trainers_title p {
  text-transform: capitalize;
  font-weight: var(--font-weight);
  padding: 0;
  margin: 0;
  font-size: 18px;
}

@media (max-width:991px) {
  .right-communication-section {
    width: 45vw;
  }

  .middle-communication-section {
    width: 55vw;
  }

  .left-communication-section {

    display: none;
  }

  .right-communication-section .profile-card {
    display: flex;
    width: 95%;
  }

  .right-communication-section .profile-card img {
    height: 130px;
    width: 130px;
  }

  .nutritionists-trainers {
    width: 95%;
  }
}


@media (max-width:645px) {

  .left-communication-section,
  .right-communication-section {
    display: none;
  }
}