.header {
  background-color: #d2d2d2;
  min-height: 12vh;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  display: flex;
  align-items: center;

}

.header h3 {
  margin: 0;
}

.header-middle-section,
.header-right-section,
.header-left-section {
  display: flex;
  flex: 1;
  width: 33.3vw;
  padding: 8px;
}

.header-middle-section {

  justify-content: center;
}

.header-middle-section h3 {
  font-weight: var(--font-weight);
}

.header-right-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}




.header-right-section svg {
  font-size: 19px;
}

.notifications-section {
  padding-right: 15px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notifications-list {
  position: absolute;
  top: 90%;
  right: 5%;
  min-width: 30vw;
  min-height: 40vh;

  background-color: var(--white);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

.notifications-list .list {
  margin: 0;
  width: 100%;
  padding: 10px;
}

.notifications-list .sender-name {
  font-weight: var(--font-weight);
}

.notifications-list .sender-name:hover {
  color: var(--blue);
  cursor: pointer;
}

.notifications-list img {
  width: 50px;
  height: 50px;
  border-radius: var(--circle-border-radius);
  margin-right: 5px;
}

.notifications-list .notification-message {
  border-bottom: 1px solid #d2d2d2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.notification-message:hover {
  background-color: #d2d2d2;
  border-radius: var(--border-radius);
}

.notification-message span {
  margin-right: 5px;
}

.notifications-list .notification-message:last-child {
  border-bottom: none;
}

.notification-message {
  padding: 10px;
}

.notifications-list .title {
  font-weight: var(--font-weight);
  width: 100%;
  border-bottom: 1px solid #d2d2d2;
  padding: 10px;
}

.notifications-section .notifications-number {
  background-color: var(--blue);
  color: var(--white);
  font-size: 13px;
  font-weight: var(--font-weight);
  border-radius: 5px;
  position: absolute;
  width: 15px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 61%;
  right: 23%;


}

.home-icon svg {
  margin-right: 10px;
}

.notifications-section svg,
.home-icon svg,
.search-section svg:hover {
  cursor: pointer;
}

.header-right-section .options-list {
  top: 80%
}

.header-right-section a {
  text-decoration: none;
  color: var(--black);
}

.header-right-section a.active {
  color: var(--blue)
}

@media (max-width:768px) {
  .header-right-section .options-list li svg {
    display: none;
  }

  .tooltip-list span {

    display: none;
  }

  .home-icon svg {

    margin-right: 8px;
  }
}

@media (max-width:600px) {

  .header-right-section,
  .header-left-section {
    padding: 0px;
  }

  .home-icon svg {

    margin-right: 0px;
  }

  .header {
    padding: 10px;
  }



  .options-list li svg {
    display: none;
  }

  .notifications-section {
    padding: 0px 9px;
    font-size: 18px;
  }

  .tooltip-list img {
    height: 30px;
    width: 30px;
  }

  .header h3 {
    font-size: 15px;
  }

  .notifications-list {
    /* right: 2%; */
    min-width: 80vw;
  }
}