.profile-page {
  min-width: 100vw;
  height: 88vh;
  background-color: var(--light-gray);
  padding: 0;
  display: flex;
  justify-content: space-around;
  padding: 10px;

}



.profile-page_card {
  width: 35vw;


}

.profile-page_posts {
  width: 50vw;
  display: flex;
}

.profile-page_posts .post-card:first-child {
  margin-top: 0;
}

.profile-page_posts .posts-container {
  height: 100%;
  width: 100%;
}


.profile-page .profile-card-bottom button {
  margin-bottom: 5px;
}

.profile-page .no-posts {
  margin-top: 0;
}

.profile-page .posts-container {
  padding: 0;
}

@media (max-width:992px) {
  .profile-page_card {
    width: 45vw;
  }

  .profile-page_posts {
    width: 45vw;
  }

  .profile-page_posts .posts-container {
    width: 100%;

  }

}

@media (max-width:600px) {
  .profile-page {
    height: initial;
  }

  .profile-page_card,
  .profile-page_posts {
    width: 100vw;
    display: flex;
    justify-content: center;
  }

  .profile-page_posts .post-card:first-child {
    margin-top: 10px;
  }

  .profile-page_card {
    padding: 5px;
  }

  .profile-page_card .profile-card {
    width: 100%
  }

  .profile-page_card .profile-card-middle .profile-statistics {
    top: 70%
  }

  .profile-card-bottom {
    align-items: center;
  }

  .profile-page .profile-card-bottom button {
    margin-bottom: 0;
    margin-top: 10px;
  }

  .profile-page .posts-container {
    overflow: initial;
    padding: 5px;
    height: initial;
  }

  .profile-page {
    flex-direction: column;
    overflow: scroll;
    padding: 0;
  }
}