.modal-image-container {
  width: 100%;
  max-height: 34em;
  display: flex;
  justify-content: center;
}

.modal-image-container img {
  width: 100%;

}

@media (max-width:600px) {
  .modal-image-container {
    max-height: 35em;
  }
}