.search-section {
  width: 100%;

}

.search-section .user-list-skeleton {
  margin: 0 10px;
}

.search-section .user-list-button {
  width: 15%;
}

.search-input {
  width: 100%;
  font-size: 16px;
  display: flex;
  justify-content: space-around;
  padding: 15px;
  align-items: center;
}

.search-input input {
  padding: 5px;
  max-width: 95%;
}

.search-results {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  overflow-y: auto;
  max-height: 77vh;

}

.search-results h6 {
  width: 100%;
  padding-left: 15px;
}

@media (max-width:600px) {
  .search-section .search-input button {
    padding: 6px;
    font-size: 11px;
  }

  .search-results {
    max-height: 79vh;
  }
}