.dialog-container {
  height: 12em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  position: relative;

}

.dialog-header {
  position: absolute;
  top: -60px;
  background-color: var(--white);
  border-radius: 100%;
  z-index: 200000;
  padding: 20px;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.dialog-header svg {
  /* font-size: 100px; */
  animation: icon-animation 0.4s ease-in 0s alternate forwards;
}

@keyframes icon-animation {
  0% {
    font-size: 0px;
  }

  100% {
    font-size: 100px;
  }
}

.dialog-body {
  font-weight: bold;
  position: absolute;
  top: 50%
}

.dialog-footer {
  position: absolute;
  top: 74%;
}

.dialog-footer button:first-child {
  margin: 0 5px;

}