.input-container {
  width: 100%;
  position: relative;
}

.common-input {
  padding: 15px;
  border: 0;
  border: 1px solid var(--light-gray);
  margin: 8px 0px;
  border-radius: 5px;
  background-color: var(--white);
  width: 100%;
  font-weight: var(--font-weight);
}

.common-textarea {
  resize: none;
  border: 0;
  border: 1px solid var(--light-gray);
  margin: 8px 0px;
  border-radius: 5px;
  background-color: var(--white);
  width: 100%;

}

.common-input:focus,
.common-textarea:focus {
  background-color: var(--light-gray);
  outline-color: none;

}

.eye-icon {
  position: absolute;
  right: 15px;
  bottom: 25%;
  cursor: pointer;
  font-size: 20px;
}

.edit-eye-icon .eye-icon {
  bottom: 34%;
}

input[type=password]::-ms-reveal,
input[type=password]::-ms-clear {
  display: none;
}

@media (max-width:600px) {

  .input-container,
  form button {
    font-size: 12px !important;
  }

}