.list-items {
  padding-left: 0px;
  list-style-type: none;
  text-transform: capitalize;
}

.list-items a {
  text-decoration: none;
  color: var(--white);
}

.list-items a:hover,
.list-items span:hover {
  color: var(--blue);
}

a.active {
  color: var(--blue);
}

.list-items span {
  cursor: pointer;
}