.modal-canvas-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--light-gray);
  padding: 15px;
}


.modal-canvas-header h4 {
  font-weight: var(--font-weight);
  padding: 0;
  margin: 0;
}

.modal-canvas-header svg {
  cursor: pointer;
  font-weight: var(--font-weight);
  display: flex;
  justify-content: center;
  align-items: center;
}