.options-list {
  position: absolute;
  top: 50%;
  width: 100%;
  background-color: var(--white);
  border-radius: var(--border-radius);
  margin-top: 15px;
  box-shadow: var(--box-shadow);
  overflow: hidden !important;
  z-index: 5;
  right: 0;
}

.options-list li span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.options-list ul {
  list-style-type: none;
  padding: 0;

  width: 100%;
  margin: 0;

}

.options-list li {
  padding: 11px;
  border-bottom: 1px solid var(--light-gray);
  font-weight: 300;
  display: flex;

  font-weight: var(--font-weight);
}



.options-list li .icon {
  /* padding: 0px 8px; */
  margin-right: 5px;
  font-size: 20px;
  padding: 0;
}

.options-list li:last-child {
  border-bottom: 0;
}

.options-list li:hover {
  background-color: var(--light-gray);
  cursor: pointer;
}