.posts-container {

  height: 100%;
  overflow-y: scroll;
  padding: 5px;
  scroll-behavior: smooth;
}


.post-card,
.comment-card {
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  margin: 10px 0;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}



.post-or-comment-content {
  display: flex;
  flex-direction: column;
  white-space: pre-wrap;
  word-wrap: break-word;


}

.post-or-comment-content p {
  padding: 15px;

  padding-bottom: 0px;
}

.post-or-comment-content img {

  max-height: 23em;
}

.like-and-comment {
  width: 100%;
  display: flex;
  border-top: 1px solid var(--light-gray);
  padding-bottom: 0;


  margin-top: 15px;
}

.like-and-comment .post-statistic:first-child {
  border-right: 1px solid var(--light-gray);
}

.post-statistic {

  padding: 2px;
  flex: 1;
  display: flex;
  justify-content: center;
  font-size: 18px;
  align-items: center;
  cursor: pointer;
}

.is-liked .like:first-child {
  color: var(--blue)
}

.post-statistic p {
  padding: 0;
  margin: 0;
  margin-right: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.see-more-less {
  text-decoration: underline;
  color: var(--blue);
  padding-left: 5px;
  cursor: pointer;
  font-weight: var(--font-weight);
}

.num-of-likes:hover {
  text-decoration: underline;

  font-weight: var(--font-weight);
}

@media (max-width:768px) {
  .three-dots-options .options-list {
    width: 86%;
  }

  .three-dots-options .options-list li {
    padding: 5px;
  }


}