.publiser-info {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;

}

.publiser-info .name-profile-image img {
  width: 40px;
  height: 40px;
  border-radius: var(--circle-border-radius);
}

.publiser-info .name-profile-image .name {
  padding: 0 5px;
}

.name-profile-image span:last-child {
  padding-left: 1px;
}

.publiser-info .name-profile-image {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: var(--font-weight);
  flex: 2;
}

.name:hover {
  color: var(--blue);
  cursor: pointer;
}

.publiser-info .tooltip-list {
  box-shadow: initial;
  justify-content: flex-end;
}

.publiser-info .active {
  background-color: var(--white);
  color: var(--blue);
  transform: scale(1.1);
}

.publiser-info .tooltip-list .active {
  background-color: var(--white);
}

.publiser-info .three-dots-options {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.three-dots-options .options-list {
  width: 62%;
  right: 0;
}

.three-dots-options .options-list li {
  padding: 10px 5px;
}

.three-dots-options .options-list span,
.three-dots-options .options-list svg {
  font-size: 15px;
}