.slide-show {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

}

.slide-show .background {
  position: absolute;
  top: 0;

  width: 100%;
  height: 100%;
  background-color: var(--black);
  opacity: 0.5;
}

.slide-container {
  min-width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;


}

.slide-data {
  flex: 1;
  position: absolute;
  right: 0;
  left: 0;
  height: 100%;
}



.other-slides-data {
  flex: 1;
  right: -100%;
  position: absolute;
  height: 100%;
}

.slide-data.slide-to-left {

  animation: sliding-to-left 1s ease-in-out 0s 1 forwards;
}

@keyframes sliding-to-left {
  0% {
    right: 0;
    left: 0;
  }

  100% {
    left: -100%;
    right: 100%;
  }
}

.slide-from-left {
  position: absolute;
  flex: 1;
  height: 100%;
  animation: sliding-from-left 1s ease-in-out 0s 1 forwards;
}

@keyframes sliding-from-left {
  0% {
    right: 100%;
    left: -100%;
  }

  100% {
    left: 0%;
    right: 0%;
  }
}

.slide-data.slide-to-right {

  animation: sliding-to-right 1s ease-in-out 0s 1 forwards;
}

@keyframes sliding-to-right {
  0% {
    left: 0%;
    right: 0%;
  }

  100% {
    right: -100%;
    left: 100%;
  }
}

.slide-from-right {

  flex: 1;
  position: absolute;
  height: 100%;
  right: -100%;
  left: 100%;
  animation: sliding-from-right 1s ease-in-out 0s 1 forwards;
}

@keyframes sliding-from-right {
  0% {
    left: 100%;
    right: -100%;
  }

  100% {
    right: 0;
    left: 0;
  }
}

.slide-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
  height: 100%;
}

.slide-image {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.back-icon,
.forward-icon {
  position: absolute;
  font-size: 30px;
  top: 45%;
  color: var(--white);
  z-index: 5;
}

.back-icon:hover,
.forward-icon:hover {
  color: var(--blue);
  cursor: pointer;
}

.back-icon {
  left: 5%;
}

.forward-icon {
  right: 5%;
}

.slide-show-bottom {
  width: 100%;
  display: flex;

  height: 10%;
  opacity: 0.8;
}

.slide-show .options-list {
  height: 100%;
  box-shadow: initial;
  background-color: initial;
  border-radius: 0;
  margin-top: 0;
  flex: 1;
  position: relative;
  top: initial;


}

.slide-show .options-list ul {
  display: flex;
  height: 100%;
  flex-direction: row;
  border-collapse: collapse;
}

.slide-show .options-list li {
  flex: 1;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid var(--light-gray);
  border-collapse: collapse;
  font-weight: bold;
  font-size: 18px;
}

.slide-show .options-list li:hover {
  background-color: initial;
}


.slide-show .options-list li.active {
  border-top: 2px solid var(--blue);
}

.slide-image {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  /* opacity: 0.1; */
}

.slide-image img {
  width: 100%;

}

.slide-description {
  z-index: 2;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  font-size: 50px;
  height: 50%;

}

.contact-us-item {
  color: var(--black) !important;
}

.slide-description span {
  opacity: 1;
}

.slide-description button {
  align-self: baseline;
}

.slide-description div {
  font-size: 20px !important;
}

@media (max-width:600px) {
  .slide-show .options-list li {
    font-size: 14px;
    padding: 0;
    flex: 1;
  }

  .slide-description div,
  .slide-description button {
    font-size: 14px !important;
  }
}