@import url('https://fonts.googleapis.com/css2?family=Estonia&family=Montagu+Slab:wght@500;700&family=Nunito:wght@200&family=Poppins:wght@300&family=Road+Rage&family=Roboto:wght@900&family=Work+Sans:wght@300&display=swap');

:root {
  --black: #000000;
  --light-gray: #e7e5e6;
  --blue: #1a96c0;
  --white: #ffffff;
  --border-radius: 10px;
  --circle-border-radius: 100%;
  --font-weight: bold;
  --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

body {
  background-color: var(--light-gray) !important;
  font-family: 'Work Sans', sans-serif !important;

  max-width: 100vw !important;
  min-height: 100% !important;
  padding: 0 !important;
  margin: 0;
  background-position: center;
  background-size: cover;
  height: 100% !important;
  grid-template-areas: "header"
    "main"
    "footer";
}

*::-webkit-scrollbar {
  display: none;
  width: 0;
}

.Toastify__toast-container {
  z-index: 10000000000000 !important;
}


button {
  background-color: var(--blue) !important;
  border-color: var(--blue) !important;
}

@media (max-width:330px) {
  *>div {
    font-size: 14px !important;
  }
}